@font-face
{
	font-family: hvd-poster;
	src :url('HVD_Poster.ttf');
}
@font-face
{
	font-family:JosefinSans-Regular;
	src:url('JosefinSans-Regular.ttf');
}
body
{
	font-size: 84px;
}
header
{
	height: 150px;
	width:2035px;
	background-color:#3752a5;
	margin-bottom: -25px;
}
.header
{
	margin-left:950px;
	padding-top: 25px; 	
	padding-bottom: 5px;
}
.shape
{
	height: 50px;
	width: 50px;
	margin-bottom: -90px;
	margin-left: 50px;
}
.header a
{
	
	text-decoration:none;
	text-transform:capitalize;
	margin-right: 30px;
	margin-left: 30px;
	font-size:24px;
	color:#FFF;
	padding-bottom: -150px;
	transition: 0.5s;
}
.header a:hover
{
	color: red;
}

.social-media
{
	margin-left: 1550px;
	margin-top: -40px;
	height: 45px;
	width: 45px;
}

.social-media1
{
	margin-left:20px;
	margin-top: 0px;
	height: 45px;
	width: 45px;
	margin-top: -70px;
}
.social-media2
{
	margin-left:20px;
	margin-top: 0px;
	height: 45px;
	width: 45px;
	margin-top: -70px;
}
.social-media3
{
	margin-left:20px;
	margin-top: 0px;
	height: 45px;
	width: 45px;
	margin-top: -70px;
}
.social-media4
{
	margin-left:20px; 
	margin-top: 0px;
	height: 45px;
	width: 45px;
	margin-top: -70px;
}


.social-media ul
{
	display: flex;
	list-style: none;
}
.group-2
{
	background-color: #f0b52b;
	height: 750px;
	width: 1515px;
	padding-left:520px;
	padding-top: 130px;
	margin-bottom: -19px; 
	margin-top: 25px;
	
}

.back
{
	font-family: hvd-poster;
	text-transform: uppercase;
	color: #3f569e;
	font-size: 150px;
	padding-top: 102px;
	margin-bottom: -50px;
	margin-left: 50px;
}
.to
{
	font-family: hvd-poster;
	color: #b92a6f;
	padding-top: -150px;
	font-size: 52pt;
	font-weight: 25px;
	margin-bottom: -165px;
	margin-left: 95px;
}
.school
{
	font-family: hvd-poster;
	text-transform: uppercase;
	color: #3f569e;
	font-size: 150px;
	margin-left: -100px;
	margin-top: 120px;
}
.main-text p
{
	font-family:JosefinSans-Regular;
	font-size: 30px;
	color: #d03e5d;
	margin-left: -125px;
}
.main-text
{
	margin-top: 50px;
	width: 630px;

}
.image img
{
	height: 743px;
	width: 750px;
	padding-left:1220px;
	margin-top: -820px;
}
.group-3
{	
	text-transform: uppercase;	
	font-family: hvd-poster;
	font-size: 120px;
	color: #c8206a;
	padding-left: 510px;
	padding-top: 30px;
	background-repeat: no-repeat;
	background:linear-gradient(#0099ff9c, #0000ffa8), url(images/back.jpg);
	background-size: 100% 100%;
	margin-bottom: -190px;
	height: 800px;
	width: 1520px;

}

.group-3 h2
{
	font-family:JosefinSans-Regular;
	font-size: 50px;
	color: #FFF;
	margin-left: 270px;
	margin-top: -100px;
	margin-bottom: 1840px;
	
}

.link-1 a
{
	padding-left: 75px;
	padding-right: 75px;
	padding-top: 15px;
	padding-bottom: 15px;
	border-radius: 75px;
	font-size: 35px;
	box-sizing: border-box;
	margin-left: 840px;
	margin-top: 20px;
	font-family:JosefinSans-Regular;
	background-color: #c8206a;
	color: #ededed;
	cursor: pointer;	
	text-decoration: none;
 	transition: 0.9s;
 	
}
.link-1 a:hover
{
	background:linear-gradient( #FFF, #000);
	color: red;
}
.group-4
{
	background-color: #f0b52b;
	height: 550px;
	width: 2038px;
	align-items: center;
	margin-top: 150px;
	padding-top: 320px;
	padding-bottom: 320px;


}
.main-box
{
	border-style: none;
	background-color: #3752a5;
	width: 450px;
	height: 450px;
	margin-left: 550px;
	border-top-left-radius: 125px;
	border-bottom-left-radius: 125px;
	border-bottom-right-radius: 125px;
	font-family:JosefinSans-Regular;
	font-size: 20px;
}
.main-t
{
	padding-top: 55px;
	text-align: justify;
	padding-left: 15px;
	font-size: 27px;
	width: 400px;
	color: #fff;
}

.box-2
{
	height: 220px;
	width: 220px;
	background-color: #3752a5;
	margin-left: 1020px;
	margin-top: -450px;
	border-radius: 60px;
}
.ball
{
	height: 100px;
	width: 100px;
	margin-left: 60px;
	margin-top: 50px;
}
.star-ball-1
{
	margin-top: 15px;
	margin-left: 145px;
	height: 25px;
	width: 25px;
}
.star-ball-2
{
	margin-left: 45px;
	height: 20px;
	width: 20px;
	margin-bottom: -50px;

}

.box-3
{
	height: 220px;
	width: 220px;
	background-color: #3752a5;
	margin-left: 1260px;
	margin-top: -220px;
	border-radius: 60px;
}
.earth-star-1
{
	height: 25px;
	width: 25px;
	margin-left: 145px;
	margin-top: 25px;
}
.earth
{
	height: 100px;
	width: 100px;
	margin-left: 60px;
	margin-top: 50px;
	margin-top: 5px;	
}

.earth-star-2
{
	height: 25px;
	width: 25px;
	margin-left: 45px;
	margin-top: 15px;	
}

.box-4
{
	height: 220px;
	width: 220px;
	background-color: #3752a5;
	margin-left: -230px;
	margin-top: 30px;
	border-radius: 60px;
}

.ruler-star-2
{
	height: 25px;
	width: 25px;
	margin-left: 40px;
	margin-top: 60px;
	margin-bottom: -30px;
}

.ruler
{
	height: 90px;
	width: 150px;
	margin-left: 30px;
	margin-top: -0px;
	margin-bottom: -10px;
}


.ruler-star-1
{
	height: 25px;
	width: 25px;
	margin-left: 120px;
	margin-top: -190px;
}

.box-5
{
	height: 220px;
	width: 220px;
	background-color: #3752a5;
	margin-left: 10px;
	margin-top: -220px;
	border-radius: 60px;	
}
.bottle
{
	height: 130px;
	width: 70px;
	margin-left: 70px;
	margin-top: 20px;
	margin-bottom: -80px;

}

.bottle-star-1
{
	height: 15px;
	width: 15px;
	margin-left: 50px;
	margin-top: 50px;
	margin-bottom: -60px;	
}

.bottle-star-2
{
	height: 25px;
	width: 25px;
	margin-left:150px;
	margin-top:-90px;
}

.group-5
{
	height: 950px;
	margin: 0px;
	width: 2000px;
	padding: 0px;
}

.group-5 img
{
	height: 1170px;
	width: 2038px;
	
}
.group-6
{
	padding-bottom: 00px;
	margin-top: 220px;
	height: 950px;
	width: 2035px;
	background-color: #eea924;.
	margin-top:150px;  
	
}
.box1-title
{
	background-color: #dfdfdf;
	height: 100px;
	width: 500px;
	border-top-left-radius: 35px;
	border-top-right-radius: 35px;
	font-family:JosefinSans-Regular;
	font-size: 46px;
	margin-top: -860px;
	margin-left: 220px;
	text-align: center;
	margin-bottom: -40px;
}
.box1-title p
{
	color: #3752a5;
	font-weight: bold;
	padding-top: 25px;
}
.box1-body
{
	background-color: #ededed;
	height: 500px;
	width: 500px;
	border-bottom-left-radius: 35px;
	border-bottom-right-radius: 35px;
	font-family:JosefinSans-Regular;
	font-size: 46px;
	margin-left: 220px;
	margin-top: 20px;							
}
.box1-body p
{
	color: #3752a5;
	padding-top: 155px;
	font-size: 36px;
	text-align: center;
	
}
.box2-title
{
	background-color: #ededed;
	height: 90px;
	width: 500px;
	border-top-left-radius: 35px;
	border-top-right-radius: 35px;
	font-family:JosefinSans-Regular;
	font-size: 46px;
	margin-top: -640px;
	margin-left: 820px;
	text-align: center;
	margin-bottom: -40px;
}
.box2-title p
{
	color: #3752a5;
	padding-top: 20px;
	font-weight: bold;
}
.box2-body
{
	background-color: #3752a5;
	height: 530px;
	width: 500px;
	border-bottom-left-radius: 35px;
	border-bottom-right-radius: 35px;
	font-family:JosefinSans-Regular;
	font-size: 46px;
	margin-left: 820px;
	margin-top: 10px;
	padding-bottom: 30px;							
}
.box2-body p
{
	color: #ededed;
	padding-top: 155px;
	font-size: 36px;
	text-align: center;
}

.box3-title
{
	background-color: #dfdfdf;
	height: 100px;
	width: 500px;
	border-top-left-radius: 35px;
	border-top-right-radius: 35px;
	font-family:JosefinSans-Regular;
	font-size: 46px;
	margin-top: -690px;
	margin-left: 1400px;
	text-align: center;
	margin-bottom: -40px;
}
.box3-title p
{
	color: #3752a5;
	padding-top: 25px;
	font-weight: bold;
}
.box3-body
{
	background-color: #ededed;
	height: 500px;
	width: 500px;
	border-bottom-left-radius: 35px;
	border-bottom-right-radius: 35px;
	font-family:JosefinSans-Regular;
	font-size: 46px;
	margin-left: 1400px;
	margin-bottom: 200PX;
	margin-top: 30PX;							
}
.box3-body p
{
	color: #3752a5;
	padding-top: 155px;
	font-size: 36px;
	text-align: center;
	
}
.group-7
{
	margin-top: 20px;
	height: 1050px;
	width: 2038px;
	background-color: #f0b52b;
	
}
.group-7 img
{
	height: 850px;
	width: 800px;
	margin-top: 200px;
	margin-bottom: -750px;

}
.group-7 h1
{
	font-size: 90px;
	font-family:JosefinSans-Regular;
	margin-left: 1220px;
	font-weight: bold;
	word-spacing: 2px;
	margin-bottom: -550px;
	color: #3752a5;
}
.group-7 p
{
	font-size: 30px;
	margin-top: 620px;
	margin-left: 1230px;
	font-family:JosefinSans-Regular;
	color: #3752a5;
	width: 710px;
	margin-bottom: 70px;

}
.link-2 a
{
	font-size: 35px;
	border-radius: 35px;
	height: 55px;
	width: 225px;
	margin-left: 1230px;
	margin-top: 70px;
	font-family:JosefinSans-Regular;
	background-color: #3752a5;
	color: #ededed;
	cursor: pointer;
	text-decoration: none;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 20px;
	padding-bottom: 20px;
	transition: 0.9s;
}
.link-2 a:hover
{
	background:linear-gradient(#0099ff9c, #0000ffa8);
	color:  #000;
}

.group-8 img
{
	width: 2038px;	
}
.group 
{
	height: 950px;
	width: 2038px;
	background-image: url("images/image3.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;


}
.date-2
{
	font-family:JosefinSans-Regular;
	color: #f0b52b;
	font-size: 125px;
	margin-left: 390px;
	font-weight: bold;
	justify-content: center;
	margin-top: -400px;
}

.date-3
{
	font-family:JosefinSans-Regular;
	color: #f0b52b;
	font-size: 55px;
	margin-left: 390px;
	font-weight: bold;
	justify-content: center;
	margin-top: -50px;
}
.date
{
	background:linear-gradient(#1c75b1f0, #0000ffa8);
	width: 1780px;
	height: 600px;
	margin-left: 130px;
	border-radius: 75px;
	margin-top: -730px;
	

}
.group-9
{
	height: 950px;
	width: 2038px;
	background-color: #f0b10c;
	margin-top: 250px;
}

.image-g9-1
{
	height: 250px;
	width: 200px;
	margin-left: 350px;
	margin-top: 360px;
	transform: rotate(-40deg);

}

.text3 p
{
	font-size: 25px;
	margin-left: 180px;
	margin-top: 30px;
	text-align: center;
	font-family:JosefinSans-Regular;
	width: 30%;
	color: #3752a5;
	margin-bottom: -280px;
	width: 520px;
}
.text3 h1
{
	margin-left: 180px;
	margin-top: 60px;
	text-align: center;
	font-family:JosefinSans-Regular;
	width: 30%;
	color: #3752a5;
}

.image-g9-2 
{
	height: 150px;
	width: 200px;
	margin-left: 950px;
	margin-top: -960px;

}
.text4 h1
{
	margin-left: 760px;
	margin-top: 120px;
	text-align: center;
	font-family:JosefinSans-Regular;
	width: 30%;
	color: #3752a5;
}
.text4 p
{
	font-size: 25px;
	margin-left: 760px;
	margin-top: 35px;
	text-align: center;
	font-family:JosefinSans-Regular;
	width: 30%;
	color: #3752a5;
	margin-bottom: -400px;
	width: 520px;
}
.image-g9-3
{
	height: 100px;
	width: 100px;
	margin-left: 1550px;
	margin-bottom: -70px;
	margin-top: -82px;
}

.image-star 
{
	height: 20px;
	width: 20px;
	margin-left: 1575px;
	margin-top: -150px;	
	margin-bottom: 40px;
}
.image-star-2
{
	height: 20px;
	width: 20px;
	margin-left: 1530px;
	margin-top: -80px;
	margin-bottom: 15px;
}

.image-star-3
{
	height: 25px;
	width: 25px;
	margin-left: 1635px;
	margin-bottom: 0px;
}

.image-star-1
{
	margin-left: 1640px;
	height: 15px;
	width: 15px;
	margin-top: -90px;
	margin-bottom: -15px;
}
.image-star-5
{
	height: 20px;
	width: 20px;
	margin-left: 1570px;
	margin-bottom: 160px;
	padding-top: -10px;
}


.text5 h1
{
	margin-left: 1330px;
	margin-top: 30px;
	text-align: center;
	font-family:JosefinSans-Regular;
	width: 30%;
	color: #3752a5;
	margin-top: -20px;
}
.text5 p
{
	font-size: 25px;
	margin-left: 1330px;
	margin-top: 35px;
	text-align: center;
	font-family:JosefinSans-Regular;
	width: 30%;
	color: #3752a5;
	margin-bottom: -400px;
	width: 520px;
}

.text6 h1
{
	padding-left: 780px;
	padding-top: 165px;
	font-family:JosefinSans-Regular;
	width: 30%;
	font-size: 75px;
	color: #3752a5;
	padding-bottom: -1050px;
}

.text6 p
{
	font-size: 55px;
	margin-left: 370px;
	padding-top: -435px;
	text-align: center;
	font-family:JosefinSans-Regular;
	width: 1200px;
	color: #3752a5;
	padding-bottom: -100px;
	text-align: center;
}

.group-10
{
	height: 950px;
	width: 2038px;
	background-color: #f0b10c;
	margin-top: -60px;

}
.search-box
{
	height: 65px;
	width: 850px;
	margin-left: 500px;
	font-size: 35px;
	font-family:JosefinSans-Regular;
	border-radius: 35px;
	padding-left: 30px;
	margin-bottom: -30px; 
	
}
.png img
{
	height: 55px;
	width: 55px;
	margin-top: -100px;
	margin-left:1300px; 
}
.group-11
{
	height: 550px;
	width: 2038px;
	background-color: #3752a5;
	margin-top: -60px;

}
.group-11 p
{
	font-size: 35px;
	font-family:JosefinSans-Regular;
	padding-left: 150px;
	padding-top: 150px;
	color: #eaeaea;
	text-transform: uppercase;
	margin-bottom: -130px;
	
}
.links a
{
	font-size: 35px;
	font-family:JosefinSans-Regular;
	text-decoration: none;
	color: #eaeaea;
	margin-left: 1200px;
	transition: 0.9s;
}

.links a:hover
{
	color: red;
}

.links
{
	padding-top: -400px;
}

.social-media-2
{
	margin-left: 1450px;
	margin-top: 50px;
	margin-right: 250px;
	height: 45px;
	width: 45px;
}
.social-media5
{
	margin-left:20px;
	margin-top: 0px;
	height: 45px;
	width: 45px;
}
.social-media6
{
	margin-left:20px;
	margin-top: 0px;
	height: 45px;
	width: 45px;
}
.social-media7
{
	margin-left:20px; 
	margin-top: 0px;
	height: 45px;
	width: 45px;
}

.social-media8
{
	margin-left:20px; 
	margin-top: 0px;
	height: 45px;
	width: 45px;
}
.social-media-2 ul
{
	display: flex;
	list-style: none;
}

hr
{
	width: 1450px;
	padding-right:150px; 
	margin-top: 50px;
	margin-left: 140px;
}